<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="enginehost: RPG Maker MV/MZ"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".RunActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.enginehost.plugin.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="dev.enginehost.plugin.engine" android:value="rpgmaker" />
            <meta-data android:name="dev.enginehost.plugin.pluginVersion" android:value="0.1.0" />
            <meta-data android:name="dev.enginehost.plugin.capabilities" android:resource="@raw/enginehost_capabilities" />
        </activity>
    </application>
</manifest>
